@import "../../../sass/variables";
@import "../../../sass/mixins";

.dates {
  position: absolute;
  top: $circle-top-space;
  left: 50%;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;

  transform: translate(-50%, -50%);

  &__start {
    color: $color-secondary;

    @include media-mobile {
      color: $color-accent;
    }
  }

  &__end {
    color: $color-tertiary;
  }

  @include media-mobile {
    position: unset;

    justify-content: unset;
    column-gap: 1rem;

    transform: unset;
  }
}
