@import "../../../sass/variables";

.dates {
  position: absolute;
  top: $circle-top-space;
  left: 50%;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8rem;

  transform: translate(-50%, -50%);

  &__start {
    color: $color-secondary;
  }

  &__end {
    color: $color-tertiary;
  }
}
