$color-primary: #42567a;
$color-primary-l: rgba(66, 86, 122, 0.5);
$color-primary-m: rgba(66, 86, 122, 0.2);
$color-primary-s: rgba(66, 86, 122, 0.1);
$color-secondary: #5e5fef;
$color-tertiary: #ef5da8;
$color-accent: #3877ee;
$color-background: #f4f5f9;
$color-light: #ffffff;

$content-width-desktop: 144rem;

$content-left-space: 8rem;
$circle-top-space: 44%;

$line-width: 1px;
