@import "../../../../sass/variables";
@import "../../../../sass/mixins";

.divider {
  display: none;
  margin-right: 2rem;
  border: none;
  border-top: $line-width solid $color-primary-s;

  @include media-mobile {
    display: flex;
  }
}
