@import "../../../sass/variables";
@import "../../../sass/mixins";

.slider {
  display: flex;
  gap: 8rem;
  margin: 84rem 4rem 0 $content-left-space;

  &__slidesContainer {
    margin-right: 16rem;
    background-color: #5e5fef;
  }

  &__title {
    font-size: 2.5rem;
    color: $color-accent;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 2rem;
  }
}

