@import "../../../sass/variables";
@import "../../../sass/mixins";

.slider {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 20rem;

  @include media-mobile {
    flex-grow: 1;
    margin: 0 0 10.5rem 0;
  }

  &__sliderContainer {
    display: flex;
    gap: 8rem;
    padding: 0 4rem;

    @include media-mobile {
      padding: 0;
    }
  }

  &__slidesContainer {
    margin-right: 16rem;
    background-color: #5e5fef;
  }

  &__year {
    color: $color-accent;
    margin-bottom: 1.5rem;
  }

  &__arrow {
    font-size: 1.8rem;
    color: $color-accent;
  }

  &__theme {
    display: none;

    @include media-mobile {
      display: flex;
    }
  }

  &__divider {
    display: none;
    margin-right: 2rem;

    border: none;
    border-top: $line-width solid $color-primary-m;

    @include media-mobile {
      display: flex;
    }
  }
}
