@import "../../../sass/variables";
@import "../../../sass/mixins";

.slider {
  &__button_left,
  &__button_right {
    @include circleButton(7rem);
    align-self: center;

    height: 4rem;

    background-color: $color-light;
    box-shadow: 0 0 1.5rem 0 rgba(56, 119, 238, 0.1);
    border: none;
  }
}

.swiper-button-disabled {
  opacity: 0;
}

.swiper-slide {
  opacity: 0;
  @include animation-fadeIn(1000ms);
}

@include media-mobile {
  .swiper-slide {
    width: 17rem !important;
    opacity: 40%;

    &-active {
      opacity: 100%;
    }
  }

  .slider__button_left,
  .slider__button_right {
    display: none;
  }
}
