@import "../sass/variables";
@import "../sass/mixins";

.main {
  position: relative;
  left: 32rem;
  right: 16rem;
  width: $content-width-desktop;
  height: 100vh;

  &__title {
    position: absolute;
    top: 17rem;;
    left: $content-left-space;
  }
}
