@import "../sass/variables";
@import "../sass/mixins";

.main {
  position: relative;
  left: 32rem;
  right: 16rem;
  width: $content-width-desktop;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    position: absolute;
    top: 17rem;
    left: $content-left-space-desktop;

    @include media-mobile {
      position: unset;
    }
  }

  @include media-mobile {
    position: relative;
    left: 0;
    right: 0;

    gap: 5rem;
    width: unset;
    padding-top: 6rem;
    margin-left: $content-left-space-mobile;
  }
}
