@import "../../../sass/variables";
@import "../../../sass/mixins";

.point {
  position: absolute;
  z-index: 3;

  width: 0.5rem;
  height: 0.5rem;

  background-color: $color-primary;
  border-radius: 50%;

  transform: translate(-50%, -50%);
  transition: all 500ms ease-out;

  &:hover {
    @include circleButton(5.6rem);
  }

  &:hover > .point__number,
  &:hover > .point__theme {
    display: flex;
  }

  &__number {
    display: none;
    font-size: 2rem;
  }

  &__theme {
    position: absolute;
    left: 7.6rem;
    display: none;

    font-size: 2rem;
    font-weight: 700;
  }
}
