@import "../../../sass/variables";
@import "../../../sass/mixins";

.circle {
  @include border($color-primary-m);

  position: relative;
  top: calc($circle-top-space - 26.5rem);
  margin: 0 auto;

  width: 53rem;
  height: 53rem;

  border-radius: 50%;

  transition: all 1s ease-out;
}
